body {
  background-color: #DAF0EE;
}
div.question1 {
  background-color: #EB5E28;
  color: white;
  margin: 20px;
  padding: 20px;
}
div.header {
  background-color: #9DB5B2;
  text-align: center;
  padding: 20px;
}
