body {
  background-color: lightblue;
}
div.question1 {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}
p {
  text-color: blue;
}
.header {
  background-color: yellow;
  text-align: center;
  padding: 20px;
}
